# LEGO MCP Factory Cell OMPL Planning Configuration

planning_plugin: ompl_interface/OMPLPlanner
request_adapters: >-
  default_planner_request_adapters/AddTimeOptimalParameterization
  default_planner_request_adapters/ResolveConstraintFrames
  default_planner_request_adapters/FixWorkspaceBounds
  default_planner_request_adapters/FixStartStateBounds
  default_planner_request_adapters/FixStartStateCollision
  default_planner_request_adapters/FixStartStatePathConstraints

start_state_max_bounds_error: 0.1

planner_configs:
  RRTConnect:
    type: geometric::RRTConnect
    range: 0.0  # auto

  RRTstar:
    type: geometric::RRTstar
    range: 0.0
    goal_bias: 0.05
    delay_collision_checking: true

  PRM:
    type: geometric::PRM
    max_nearest_neighbors: 10

  PRMstar:
    type: geometric::PRMstar

  BKPIECE:
    type: geometric::BKPIECE
    range: 0.0
    border_fraction: 0.9
    failed_expansion_score_factor: 0.5
    min_valid_path_fraction: 0.5

  LBKPIECE:
    type: geometric::LBKPIECE
    range: 0.0
    border_fraction: 0.9
    min_valid_path_fraction: 0.5

  KPIECE:
    type: geometric::KPIECE
    range: 0.0
    goal_bias: 0.05
    border_fraction: 0.9
    failed_expansion_score_factor: 0.5
    min_valid_path_fraction: 0.5

  EST:
    type: geometric::EST
    range: 0.0
    goal_bias: 0.05

  BiEST:
    type: geometric::BiEST
    range: 0.0

  SBL:
    type: geometric::SBL
    range: 0.0

# Group-specific planner configurations
ned2_arm:
  default_planner_config: RRTConnect
  planner_configs:
    - RRTConnect
    - RRTstar
    - PRM
  projection_evaluator: joints(ned2_joint_1,ned2_joint_2)
  longest_valid_segment_fraction: 0.005

xarm_arm:
  default_planner_config: RRTConnect
  planner_configs:
    - RRTConnect
    - RRTstar
    - PRM
  projection_evaluator: joints(xarm_joint1,xarm_joint2)
  longest_valid_segment_fraction: 0.005

dual_arm:
  default_planner_config: RRTConnect
  planner_configs:
    - RRTConnect
    - BiEST
  projection_evaluator: joints(ned2_joint_1,ned2_joint_2,xarm_joint1,xarm_joint2)
  longest_valid_segment_fraction: 0.01
